// ***
// Base Colors – DON'T USE IT OUTSIDE OF THIS FILE
$_primary-orange: #f7941e;
$_secondary-orange: #fcaf17;
$_primary-purple: #623f99;
$_primary-gray: #6b7b84;
$_primary-white: #fff;
$_primary-black: #000;
$_primary-pink: #f184b3;
$_base_border: rgba(178, 183, 187, 0.33);

// ***
// Texts
$text-base-color: $_primary-gray;
$text-input-color: $_primary-black;
$text-drawer-title-color: $_primary-orange;
$text-orange-youse-color: $_primary-orange;
$text-purple-youse-color: $_primary-purple;
$text-white-color: $_primary-white;

// ***
// Backgrounds
$background-color: $_primary-white;
$background-drawer-separator-color: #dcdcdc;
$background-drawer-layout-title: $_primary-purple;
$background-purple-youse: $_primary-purple;
$background-orange-youse: $_primary-orange;
$background-content: #f3f3f3;

// ***
// Borders
$border-header-menu: $_base_border;
$border-bottom-header-menu-link: $_primary-purple;
