<%= form_tag checkout_path, method: 'put', class: 'checkout__form' do %>
  <div class="mdl-layout__content mdl-grid">
    <div class="checkout__summary mdl-card mdl-cell--4-col">
      <h3 class="mdl-layout__title">Summary</h3>
      <div class="checkout_summary_card mdl-card">
        <div class="mdl-card__title mdl-card--expand">
          <h3 id="checkout__grand_total"><%= number_to_currency checkout.total, unit: '‎€' %></h3>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="checkout__submit mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Checkout
          </a>
          <div class="mdl-layout-spacer"></div>
          <i class="material-icons">check</i>
        </div>
      </div>
    </div>

    <div class="checkout_products_list mdl-card mdl-cell--4-col">
      <h3 class="mdl-layout__title centered-content">Available</h3>
      <table class="mdl-data-table mdl-js-data-table" id="products_table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Code</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Price</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody>
          <% available_products.each do |product| %>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><%= "%03d" % product.code.to_s %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= product.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= number_to_currency product.price, unit: '‎€' %></td>
              <td class="mdl-data-table__cell">
                <%= link_to '', method: :put, class: 'checkout__select_product_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab', product_id: "#{product.id}" do %>
                  <i class="material-icons">add</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="checkout_products_list mdl-card mdl-cell--4-col">
      <h3 class="mdl-layout__title centered-content">Selected</h3>
      <table class="mdl-data-table mdl-js-data-table" id="products_table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Code</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Price</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody>
          <% checkout.products.each do |product| %>
            <tr id=<%= "selected_product_#{product.id}"%>>
              <td class="mdl-data-table__cell--non-numeric"><%= "%03d" % product.code.to_s %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= product.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= number_to_currency product.price, unit: '‎€' %></td>
              <td class="mdl-data-table__cell">
                <%= hidden_field_tag "product_ids[]", product.id %>

                <%= link_to '', method: :put, class: 'checkout__unselect_product_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab', for: "selected_product_#{product.id}" do %>
                  <i class="material-icons">remove</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
<% end %>
