.checkout__summary {
  margin: 0px 5px;
}
.checkout_summary_card.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
}
.checkout_summary_card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.checkout_summary_card > .mdl-card__title {
  align-items: flex-start;
}
.checkout_summary_card > .mdl-card__title > h4 {
  margin-top: 0;
}
.checkout_summary_card > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.checkout_summary_card > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.checkout_summary_card > .mdl-card__title,
.checkout_summary_card > .mdl-card__actions,
.checkout_summary_card > .mdl-card__actions > .mdl-button {
  color: #fff;
}