.drawer {
  border-right: none;
  width: 300px;
  left: -150px;

  &.is-visible {
    left: 0;
  }

  .mdl-layout-title {
    padding: 0px;
  }

  &__title {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
  }

  .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: $text-base-color;
  }

  &__title.mdl-navigation__link.mdl-navigation__link {
    color: $text-drawer-title-color;
  }

  .mdl-layout-title {
    position: relative;
    background: $background-drawer-layout-title;
    height: 160px;
  }

  .admin-header__logo-image {
    position: absolute;
    bottom: 16px;
  }
}
