.admin-header {
  overflow: visible;
  background-color: $background-color;
  border-bottom: 1px solid $border-header-menu;

  .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
  }

  .material-icons {
    color: $text-base-color !important;
  }

  .mdl-layout__drawer-button {
    background: transparent;
    color: $text-base-color;
  }

  .mdl-navigation__link {
    color: $text-base-color;
    font-weight: 700;
    font-size: 14px;
  }

  &__title {
    color: $text-base-color;
  }

  &__logo-image {
    height: 28px;
    width: 140px;
  }

  &__navigation-container {
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1), width .2s cubic-bezier(.4, 0, .2, 1);
  }

  &__navigation {
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;

    .mdl-navigation__link {
      display: inline-block;
      height: 60px;
      line-height: 68px;
      background-color: transparent !important;
      border-bottom: 4px solid transparent;

      &:hover {
        border-bottom: 4px solid $border-bottom-header-menu-link;
      }
    }
  }
}

.admin-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 16;

  .mdl-textfield__input {
    color: $text-input-color;
  }

  &.is-focused+.admin-header__navigation-container {
    opacity: 0;
    width: 100px;
  }
}
