<div class="mdl-layout__content mdl-grid">
  <div class="mdl-layout-spacer"></div>

  <div class="mdl-cell--8-col">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>

      <%= link_to new_product_path, class: 'new-record-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
        <i class="material-icons">add</i>
      <% end %>

      <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table" id="products_table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Code</th>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Price</th>
              <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"><%= "%03d" % product.code.to_s %></td>
                <td class="mdl-data-table__cell--non-numeric"><%= product.name %></td>
                <td class="mdl-data-table__cell--non-numeric"><%= number_to_currency product.price, unit: '‎€' %></td>
                <td class="mdl-data-table__cell">
                  <%= link_to product_path(product), method: :delete, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab' do %>
                    <i class="material-icons">remove</i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>