<div class="mdl-layout__content mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-card mdl-shadow--2dp mdl-cell--6-col">
    <%= form_for @product, html: { class: 'form' } do |form| %>
      <fieldset>
        <legend>New product</legend>
        <%= form.hidden_field :code, value: form.object.code %>
        
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.text_field :name, class: 'mdl-textfield__input', id: 'name_field' %>
          <label class="mdl-textfield__label" for="name_field">Name...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.number_field :price, class: 'mdl-textfield__input', id: 'price_field' %>
          <label class="mdl-textfield__label" for="price_field">Price...</label>
        </div>
      </fieldset>

      <%= form.submit "OK", class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
    <% end %>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
