<div class="drawer mdl-layout__drawer">
  <div class="mdl-layout-title">
    <span class="drawer__title">Supermarket</span>
  </div>
  <nav class="mdl-navigation">
    <%= link_to "Products", products_path, class: 'mdl-navigation__link' %>
    <%= link_to "Checkout", checkout_path, class: 'mdl-navigation__link' %>
  </nav>
</div>