<header class="admin-header mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="admin-header__title mdl-layout-title">Supermarket</span>
  </div>
</header>

<%= render 'layouts/drawer' %>
